            <div class="py-5 text-center text-black">
                <div class="row py-5">
                        <div class="mx-auto col-lg-10">
                            <p class="text-center" id="currentYear"></p>
                            <script type="text/javascript">
                                var d = new Date();
                                document.getElementById("currentYear").innerHTML =
                                "Copyright &copy" + d.getFullYear() +
                                "Divine Healing Church International Incorporated."
                            </script>
                        </div>
                </div>
            </div>

