<style>
  .zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav1">
  <div class="container-fluid">
    <div class="zoom">
      <a class="navbar-brand" href="/" title="Divine Healing Church Logo">
        <img src="/img/1.webp" alt="Brand Logo" width="50" height="50" class="d-inline-block align-text-top">
        Divine Healing Church
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 nav-justified">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="divinehealingprayer Home " href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" title="Church Services" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Church
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/church">Services</a></li>
            <li><a class="dropdown-item" href="/programmes">Programmes</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="Leadership profiles" href="/leadership">Leadership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="About the church" href="/about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="church photo gallery" href="/gallery">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="church contact" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:divinehealingchurch3@gmail.com" title="email" target="_blank">
            <i class="fa fa-envelope" style="font-size:30px;color:#000000;padding-left:3px " i="">
              <span class="ml-3">
                Email
              </span>
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="noopener" href="#" title="Follow us on Instagram" target="_blank">
            <i class="fa fa-facebook" style="font-size:30px;color:#3b5998;padding-left:3px " i="">
              <span class="ml-3">
                Facebook
              </span>
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="noopener" href="#" title="Follow us on Instagram" target="_blank">
            <i class="fa fa-instagram " style="font-size:30px;color:#c13584;padding-left:3px " i="">
              <span class="ml-3">
                Instagram
              </span>
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="noopener" href="https://www.youtube.com/channel/UC92mXDtzBCO7nh9icn_F5nA"
            title="Follow us on YouTube" target="_blank">
            <i class="fa fa-youtube " style="font-size:30px;color:#ff0000;padding-left:3px " i="">
              <span class="ml-3">
                YouTube
              </span>
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>