
<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
</style>


    <section id="about" class="about">
        <div class="container-fluid">
            <h2 class="display-4 lh-1 mb-4 text-center">History</h2>
            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch aos-init aos-animate" data-aos="fade-right">
                    <img src="img/3.webp" class="img-fluid" alt="brand logo" width="249" height="288">
                </div>
                <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 aos-init aos-animate" data-aos="fade-left">
                    <div class="card" >
                            <h3 class="fw-normal text-bold mb-3 mb-lg-0" >
                              Divine Healing Church was birthed on 12/11/2015 by the senior pastor, </br>Mrs Lydia Kuganja Bikkondo, after being spoken to by the Lord to open a hospital for healing his people.
                        </h3>
                            <div class="card ">
                                    <blockquote class="blockquote  font-weight-bold "
style="font-family: Poppins word-wrap: break-word; background-color: #f3d2cd; background-clip:
        border-box;border: 6px solid rgba(0,0,0,.125);border-radius: 0.25rem;" >
                                      <p class="text-center  ">“ While still living in Uganda, </br>
                                      the Lord spoke to me and instructed that I should open up a hospital that he may heal his people.
                                      So, I waited on the lord for the opportune time. When I came to the United Kingdom, the Lord once again spoke to me about the hospital, this time revealing to me where I should go. It was to Edmonton that’ I was sent on this vision and dreams. After seeing many demonstrations of his power, he confirmed to me that it was the right time to start.
                                  </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
    </section>
