<section class="p-3  font-weight-bold text-center" id="services">
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
      About us
      </h3>
      <p class="card-text">
      We are an international multicultural Christian charitable ministry ….
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
     Vision
      </h3>
      <p class="card-text">
      To see people come to a full knowledge of Jesus Christ as lord and saviour reaching out to the world with the love of God.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
      Our Mission
      </h3>
      <p class="card-text">
      To proclaim the good news of Jesus Christ through prayer, evangelism, healing, deliverance and discipleship.
      </p>
    </div>
    </div>
  </div>
</div>
</section>



