<div class="container-fluid " style="margin-top: 0rem; font-family: 'Source Sans Pro', sans-serif; ">
    <header class="py-1">
        <div class="container-fluid ">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Programmes
                        </h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid ">
        <div class="row ">
            <div class="col">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">New converts training
                                </h4>
                        <p class="mb-0">
                            Every Thursday: <span>4:00 PM – 7:00 PM
                                </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">Women’s meeting and prayers
                                </h4>
                        <p class="mb-0">
                                Every Thursday: <span>11:00 AM- 1:00 PM
                                </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">Evangelism
                                </h4>
                        <p class="mb-0">
                            Monday to Saturday
                                  <span>various groups of church members reach out at different times as organised by team leaders.
                                  </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">Training of instruments
                                </h4>
                        <p class="mb-0">
                            Every Saturday
                                <span>as arranged by the music director
                                </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col">
               <div class="card bg-light border-0 h-100">
                   <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">
                          Choir practice
                        </h4>
                        <p class="mb-0">
                            Every Saturday
                              <span>as arranged by the music director
                              </span>
                        </p>
                   </div>
               </div>
          </div>

          <div class="col">
               <div class="card bg-light border-0 h-100">
                   <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">
                          Monthly overnight prayers
                        </h4>
                        <p class="mb-0">
                            Every last Friday of the month
                        </p>
                   </div>
               </div>
          </div>

          <div class="col">
               <div class="card bg-light border-0 h-100">
                   <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">
                          Ministers night prayers
                        </h4>
                        <p class="mb-0">
                            Every 3rd Thursday of the month
                            <span>
                            12:00am – 4:00am
                            </span>
                        </p>
                   </div>
               </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
               <div class="card bg-light border-0 h-100">
                   <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">
                          Teenagers, special service
                        </h4>
                        <p class="mb-0">
                            Twice a month conducted by a Youth minister
                        </p>
                   </div>
               </div>
          </div>
          <div class="col">
               <div class="card bg-light border-0 h-100">
                   <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">
                          Men’s ministry Meeting
                        </h4>
                        <p class="mb-0">
                            Every 1st Saturday of the month at 1pm
                        </p>
                   </div>
               </div>
          </div>
          <div class="col">
               <div class="card bg-light border-0 h-100">
                   <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">
                          The Children’s Church
                        </h4>
                        <p class="mb-0">
                        Every Sunday at 4 pm
                        </p>
                   </div>
               </div>
          </div>




        </div>
    </div>
</div>
