<div  class="container-fluid " style="margin-top: 0rem; font-family: 'Source Sans Pro', sans-serif; ">
        <header class="py-1">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">
                       Services
                        </h1>
                    </div>
                </div>
            </div>
        </header>
            <div class="container px-lg-5">
                <div class="row ">
                    <div class="col">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <h4 class="fs-4 fw-bold">Sunday worship service</h4>
                                <p class="mb-0">
                                   4:00 PM – 6:30 PM
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <h2 class="fs-4 fw-bold"> Friday Bible study and intercession </h2>
                                <p class="mb-0">
                                 7:00 PM- 9:30 PM
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>


