<div class="card bg-dark text-white">
    <div class="card-overlay"style="background-color: rgb(51 93 157) ;opacity:0.8;">
          <blockquote class="blockquote  text-white font-weight-bold ">
            <p class="text-center" style="font-size: 16px;">
              Therefore go and make disciples of all
              nations, baptising them in the name of the father, and the son
              and holy spirit and teaching them to obey everything I have
              commanded you to the very end of the age.
            </p>
  <footer class="blockquote-footer text-white font-weight-bold" style="font-size: 18px">
                  Mathew
    <cite title="Source Title">
                  28:19-20
    </cite></footer>
</blockquote>
        </div>
      </div>


