<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

  @media screen and (max-width: 650px) {
    .headline {
      left: 20px;
    }

    .clipped {
      clip-path: none;
      max-height: 300px !important;
    }
  }
</style>
<div class="d-sm-flex align-items-center justify-content-between w-100" style="height: 75vh;">
  <div class="col-md-4 mx-auto mb-4 mb-sm-0 headline" style"left:130px">
    <h3 class="display-4 my-4 font-weight-bold" style="color: #f90018; font-family:Poppins">
      Divine healing church international Incorporated
    </h3>
  </div>
  <div class="col-md-8 h-100 clipped" style="min-height: 350px; background-image:
                                    url(/img/13.webp ); background-position: center; background-size: cover;
                                    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
                                    ">

  </div>
</div>