<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head' ); %>
    </head>

<style>
</style>
<body class="container-fluid">
  <header>
    <%- include('../partials/header' ); %>
  </header>
  <main>
    <%- include('../partials/programmes' ); %>
  </main>
   </body>
